<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="com.pnguyen.api.test.ApiTest"/>
            <class name="com.pnguyen.api.test.LoginTest"/>
            <class name="com.pnguyen.api.test.ListenGuidelineTest"/>
            <class name="com.pnguyen.api.test.reviewHashMap"/>
        </classes>
    </test>
</suite>